@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url(#{$path}.woff2) format("woff2");
    font-weight: $weight;
    font-style: $style;
  }
}



@include font-face('Minecraftia', '@fonts/Minecraftia-Regular', $fw-regular, 'normal');